.button{
    background-color: rgba(42, 168, 255, 1);
    border-radius: 8px;
    text-transform:none;
    height: 40px;
    padding:0 10px 0 10px;
    border-style: none;
    color: white;
    max-width:fit-content;
}