.container{
    display: flex;
    flex-direction: column;
    margin: 70px;
    background-color: white;
}

.writing{
font-family: Poppins;
font-size: 48px;
font-weight: 600;
line-height: 67px;
text-align: center;
color: rgba(27, 60, 116, 1);
}

